<div class="container">
    <h3>General form dynamic with input JSON data</h3>
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" novalidate autocomplete="off">

        <label for="generalData">General Data</label>
        <textarea id="generalData" cols="30" rows="10" formControlName="objectData" required></textarea>
        <small *ngIf="objectData.invalid && (objectData.dirty || objectData.touched) && objectData.errors?.required">
            Required
        </small>

        <section class="button-group">
            <button type="reset" (click)="reactiveForm.removeControl('form'); reactiveForm.reset();">Clear</button>
            <button type="button" (click)="generalData()">General</button>
            <button type="button" (click)="formatJson()">Format</button>
            <button type="submit">Submit</button>
        </section>
    </form>

    <!-- <pre [textContent]="reactiveForm.getRawValue() | json"></pre> -->

    <ng-template [ngIf]="form && form.value">
        <ng-form-dynamic [form]="form"></ng-form-dynamic>
    </ng-template>
</div>
