<div class="grid-cols-2">
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()" novalidate autocomplete="off">
        <div class="grid">
            <div class="control-group-inline">
                <div class="control-group">
                    <label for="typeControl">Control:</label>
                    <input type="radio" name="type" id="typeControl" formControlName="type" value="control" required>
                </div>
                <div class="control-group">
                    <label for="typeGroup">Group:</label>
                    <input type="radio" name="type" id="typeGroup" formControlName="type" value="group" required>
                </div>
                <div class="control-group">
                    <label for="typeArray">Array:</label>
                    <input type="radio" name="type" id="typeArray" formControlName="type" value="array" required>
                </div>

                <div class="alert" *ngIf="type.invalid && (type.dirty || type.touched)">
                    <small *ngIf="type.errors?.['required']">
                        Type is required.
                    </small>
                </div>
            </div>

            <div class="control-group">
                <label for="controlType">Control Type:</label>
                <select id="controlType" formControlName="controlType" required>
                    <option value="inputText">Input Text</option>
                    <option value="select">Select</option>
                </select>
                <div class="alert" *ngIf="controlType.invalid && (controlType.dirty || controlType.touched)">
                    <small *ngIf="controlType.errors?.['required']">
                        Control type is required.
                    </small>
                </div>
            </div>

            <div class="control-group">
                <label for="controlLabel">Control Label:</label>
                <input type="text" id="controlLabel" formControlName="controlLabel" required>
                <div class="alert" *ngIf="controlLabel.invalid && (controlLabel.dirty || controlLabel.touched)">
                    <small *ngIf="controlLabel.errors?.['required']">
                        Control label is required.
                    </small>
                </div>
            </div>

            <div class="control-group">
                <label for="controlName">Control Name:</label>
                <input type="text" id="controlName" formControlName="controlName" required>
                <div class="alert" *ngIf="controlName.invalid && (controlName.dirty || controlName.touched)">
                    <small *ngIf="controlName.errors?.['required']">
                        Control name is required.
                    </small>
                </div>
            </div>

            <div class="control-group">
                <label for="elementType">Element Type:</label>
                <select id="elementType" formControlName="elementType" required>
                    <option value="element">Element</option>
                    <option value="table">Table</option>
                </select>
                <div class="alert" *ngIf="elementType.invalid && (elementType.dirty || elementType.touched)">
                    <small *ngIf="elementType.errors?.['required']">
                        Element type is required.
                    </small>
                </div>
            </div>

            <div class="control-group">
                <label for="isRequire">Require:</label>
                <input type="checkbox" id="isRequire" formControlName="isRequire">
            </div>

            <div class="button-group">
                <button type="reset" (click)="clear()">Clear</button>
                <button type="submit" class="btn-primary">Add Control</button>
            </div>
        </div>

        <pre>{{formDynamic?.value || {} | json}}</pre>
        <pre>{{controlDynamicLst | json}}</pre>
    </form>
    <form [formGroup]="formDynamic" novalidate autocomplete="off">
        <ng-form-dynamic [(configs)]="controlDynamicLst" [form]="formDynamic"></ng-form-dynamic>
    </form>
</div>