<hr>
<h3>Path value to form</h3>
<form class="form-group" [formGroup]="form" novalidate autocomplete="off">

    <ng-template ngFor [ngForOf]="form.controls | keyvalue" let-control>
        <ng-template [ngIf]="control | isFormControl">
            <ng-control [controlName]="control.key"></ng-control>
        </ng-template>

        <ng-template [ngIf]="control | isFormGroup">
            <ng-group [controlName]="control.key" [formGroupName]="control.key"></ng-group>
        </ng-template>

        <ng-template [ngIf]="control | isFormArray">
            <ng-array [controlName]="control.key"></ng-array>
        </ng-template>
    </ng-template>
</form>

<pre [textContent]="form.getRawValue() | json"></pre>