/* You can add global styles to this file, and also import other style files */
@import '@angular/cdk/overlay-prebuilt.css';

html {
    --white: #fff;
    --blueColor: #005bb1;
    --lightBlueColor: #0092c2;
    --yellowColor: #eeca00;
    --lightYellowColor: #fff8d3;
    --redColor: #cc0000;
}

body {
    margin: 0;
}

* {
    scrollbar-color: #888 #f1f1f1;
    scrollbar-width: 8px;

    /* width */
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #888;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}